@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Color="Color.Primary" Elevation="4">
		<MudIconButton Icon="@Icons.Material.Filled.Menu"
				 Color="Color.Inherit"
				 Edge="Edge.Start"
                 OnClick="@ToggleDrawer" />
        <MudText Typo="Typo.h6">Dave's Portfolio</MudText>
	</MudAppBar>
    <MudDrawer @bind-Open="@_isDrawerOpen"
               ClipMode="DrawerClipMode.Always"
               Width="250px"
               Height="100%"
               Variant="DrawerVariant.Temporary"
               Elevation="1"
               Anchor="Anchor.Start">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Select an Option</MudText>
        </MudDrawerHeader>
        <MudDivider DividerType="DividerType.Middle" />
        <MudNavMenu Color="Color.Primary">
            <MudNavLink Match="NavLinkMatch.All" Href="" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href=@_snackURL Icon="@Icons.Material.Filled.Code">React Native in Expo</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="/about" Icon="@Icons.Material.Filled.DocumentScanner">David Neve - CV</MudNavLink>
            <MudNavGroup Title="Video Game Dev Links">
                <MudNavLink Match="NavLinkMatch.All" Href="/gamedev" Icon="@Icons.Material.Filled.Games">Overview</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Target="_blank" Href="https://play.unity.com/en/games/a3534c3f-cf9b-4113-8835-a592e9ce4d04/lego-microgame-ninjago-lashas-revenge" Icon="@Icons.Material.Filled.Gamepad">Lego Ninjago - One Click</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Target="_blank" Href="https://gamedev.net/blogs/blog/9454-revolt-of-the-machines/" Icon="@Icons.Material.Filled.Gamepad">Revolt of the Machines (Working Title) Blog</MudNavLink>
            </MudNavGroup>
            <MudDivider DividerType="DividerType.Middle" />
            <MudNavGroup Title="MOD JHub Scheme Modules">
                <MudNavLink Match="NavLinkMatch.All" Href="/recognise" Icon="@Icons.Material.Filled.AirplanemodeActive">JHub Module 1a - Basic Web</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Href="/richweb" Icon="@Icons.Material.Filled.ListAlt">JHub Module 1b - Rich Web</MudNavLink>
            </MudNavGroup>
            <MudNavLink Match="NavLinkMatch.All" Href="/calendar" Icon="@Icons.Material.Filled.CalendarMonth">Calendar</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent Class="pt-16 px-16">
        <MudContainer Class="mt-6">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>



                